# base stuff
django
django-getenv
django-money
djangorestframework
whitenoise
pytz

# third-party
pillow
pyserial
python-cash-register

# application server
uwsgi

# testing
pytest
pytest-django
pytest-mock
pytest-cov
model-mommy
flake8

# monitoring
raven
